body {
    margin: 0;
    min-width: 960px;
    font-size: 16px;
    line-height: 32px;
    color: #f2f2f2;
    background-color: #24252a;
}

.container {
    max-width: 928px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 16px;
}

.nav-bar {
    overflow: hidden;
    background-color: #9779ec;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.page-header .container,
.page-footer .container {
    max-width: 1408px;
    text-align: right;
}